---
layout: layout.liquid
title: Aviation Connect Feed
---

<div class="main-title">
    <h4>Search for an airport to get information!</h4>
    <div x-data="{ open: false }">
        <input id="airport" type="text" placeholder="Enter airport to search">
        <button @click="open = true" id="search">Search</button>

        <div x-show="open" x-transition.duration.500ms>
            <ul id="search-result>
            </ul>
            Loading search data...
        </div>
    </div>
</div>

      <div class="main-title">
          <h2>Featured Content</h2>
      </div>
      <div class="main-block">
          <div class="col">
              <div class="card bg-dark text-gray">
                  <img src="/images/swa1.png" class="card-img" alt="Picture of a Southwest Airlines jet">
                  <div class="card-img-overlay">
                    <h5 class="card-title"><a href="article1.html">Southwest Airlines to resume nonstop service between San Francisco and Chicago-Midway airports</a></h5>
                    <p class="card-text"></p>
                  </div>
                </div>

                <div class="card bg-dark text-white">
                  <img src="/images/swa2.png" class="card-img" alt="Picture of a Southwest Airlines jet">
                  <div class="card-img-overlay">
                  </div>
                </div>
          </div>
          <div class="col">
              <div class="card bg-dark text-white" justify-content="center">
                  <iframe height="100%" width="100%" src="https://www.youtube.com/embed/KM6k870uUkk?si=2RhOPPJaQKwnmMPK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>

                <div class="card bg-dark text-white">
                  <img src="/images/swa3.png" class="card-img" alt="Picture of a Southwest Boeing 737 MAX 8">
                  <div class="card-img-overlay">
                    <h5 class="card-title">When will the Boeing 737 MAX 7 begin flying with Southwest?</h5>
                    <p class="card-text"></p>
                  </div>
                </div>
          </div>
          <div class="col">
              <div class="card bg-dark text-black">
                  <img src="/images/sfo1.png" class="card-img" alt="Picture of the Harvey Milk Terminal at San Francisco airport">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Celebrating 5 years of the Harvey Milk Terminal at KSFO</h5>
                    <p class="card-text"></p>
                  </div>
                </div>

                <div class="card bg-dark text-white" justify-content="center">
                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/otbw6-P_sAo?si=EjUbGYm4eAMLf3nl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
          </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js">
        $(document).ready(function() {
            $('#search').click(function() {
                var name = $('#airport').val().trim();
                
                if (name !== '') {
                $.ajax({
                    method: 'GET',
                    url: 'https://api.api-ninjas.com/v1/airports?name=' + name,
                    headers: { 'X-Api-Key': 'YJVPbOHRXydJID3dD9aeWw==NB2ceiyHdLxxFLNT' },
                    contentType: 'application/json',
                    success: function(result) {
                    console.log(result);
                    displaySearchResults(result);
                    },
                    error: function ajaxError(jqXHR) {
                    console.error('Error: ', jqXHR.responseText);
                    $('#search-result').html('<li>Error fetching data</li>');
                    }
                });
                }
            });
            });

            function displaySearchResults(result) {
            $('#search-result').empty();
            if (result && result.length > 0) {
                $.each(result, function(index, airport) {
                $('#search-result').append('<li>' + airport.name + '</li>');
                });
            } else {
                $('#search-result').append('<li>No airports found</li>');
            }
            }
      </script>