---
layout: layout.liquid
title: Aviation Connect Feed
---

<h4 id="flight-count">Loading flight data..</h4>
      <div class="main-title">
          <h2>Featured Content</h2>
      </div>
      <div class="main-block">
          <div class="col">
              <div class="card bg-dark text-gray">
                  <img src="/swa1.png" class="card-img" alt="Picture of a Southwest Airlines jet">
                  <div class="card-img-overlay">
                    <h5 class="card-title"><a href="article1.html">Southwest Airlines to resume nonstop service between San Francisco and Chicago-Midway airports</a></h5>
                    <p class="card-text"></p>
                  </div>
                </div>

                <div class="card bg-dark text-white">
                  <img src="/swa2.png" class="card-img" alt="Picture of a Southwest Airlines jet">
                  <div class="card-img-overlay">
                  </div>
                </div>
          </div>
          <div class="col">
              <div class="card bg-dark text-white" justify-content="center">
                  <iframe height="100%" width="100%" src="https://www.youtube.com/embed/KM6k870uUkk?si=2RhOPPJaQKwnmMPK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>

                <div class="card bg-dark text-white">
                  <img src="/swa3.png" class="card-img" alt="Picture of a Southwest Boeing 737 MAX 8">
                  <div class="card-img-overlay">
                    <h5 class="card-title">When will the Boeing 737 MAX 7 begin flying with Southwest?</h5>
                    <p class="card-text"></p>
                  </div>
                </div>
          </div>
          <div class="col">
              <div class="card bg-dark text-black">
                  <img src="/sfo1.png" class="card-img" alt="Picture of the Harvey Milk Terminal at San Francisco airport">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Celebrating 5 years of the Harvey Milk Terminal at KSFO</h5>
                    <p class="card-text"></p>
                  </div>
                </div>

                <div class="card bg-dark text-white" justify-content="center">
                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/otbw6-P_sAo?si=EjUbGYm4eAMLf3nl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
          </div>
      </div>