---
layout: layout.liquid
title: Aviation Connect Feed
---

<div class="main-title">
    <h4>Current local online time:</h4>
    <div x-data="{ open: false }">
        <button @click="open = true" id="search" onclick="getCurrentTime()">Get current time</button>

        <div x-show="open" x-transition.duration.500ms>
            <h5 id="current-time"></h5>
        </div>
        
    </div>
</div>


      <div class="main-title">
          <h2>Featured Content</h2>
      </div>
      <div class="main-block">
          <div class="col">
              <div class="card bg-dark text-gray">
                  <img src="/images/swa1.png" class="card-img" alt="Picture of a Southwest Airlines jet">
                  <div class="card-img-overlay">
                    <h5 class="card-title"><a href="article1.html">Southwest Airlines to resume nonstop service between San Francisco and Chicago-Midway airports</a></h5>
                    <p class="card-text"></p>
                  </div>
                </div>

                <div class="card bg-dark text-white">
                  <img src="/images/swa2.png" class="card-img" alt="Picture of a Southwest Airlines jet">
                  <div class="card-img-overlay">
                  </div>
                </div>
          </div>
          <div class="col">
              <div class="card bg-dark text-white" justify-content="center">
                  <iframe height="100%" width="100%" src="https://www.youtube.com/embed/KM6k870uUkk?si=2RhOPPJaQKwnmMPK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>

                <div class="card bg-dark text-white">
                  <img src="/images/swa3.png" class="card-img" alt="Picture of a Southwest Boeing 737 MAX 8">
                  <div class="card-img-overlay">
                    <h5 class="card-title">When will the Boeing 737 MAX 7 begin flying with Southwest?</h5>
                    <p class="card-text"></p>
                  </div>
                </div>
          </div>
          <div class="col">
              <div class="card bg-dark text-black">
                  <img src="/images/sfo1.png" class="card-img" alt="Picture of the Harvey Milk Terminal at San Francisco airport">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Celebrating 5 years of the Harvey Milk Terminal at KSFO</h5>
                    <p class="card-text"></p>
                  </div>
                </div>

                <div class="card bg-dark text-white" justify-content="center">
                  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/otbw6-P_sAo?si=EjUbGYm4eAMLf3nl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
          </div>
      </div>

    <script>
        function getCurrentTime() {
  fetch('https://worldtimeapi.org/api/ip')
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      const currentTime = new Date(data.utc_datetime);
      const formattedTime = currentTime.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: true });
      document.getElementById('current-time').textContent = `Current time: ${formattedTime}`;
    })
    .catch(error => {
      console.error('Error fetching current time:', error);
      document.getElementById('current-time').textContent = 'Error fetching current time';
    });
}

        // Call getCurrentTime function when the page loads
        window.onload = getCurrentTime;
    </script>