---
layout: layout.liquid
title: Aviation Connect Feed
---

<div class="main-title">
                <h2>Log in</h2>
            </div>
            <div class="main-login">
                <label for="email">Email:</label>
                <input type="text" id="email">
                <label for="pw">Password:</label>
                <input type="password" id="pw">
                <input type="submit" value="Submit" id="clickButton">
                <br>
                <p><i>For the purposes of simplicity, you can log in using test@email.com and PasswordTest23</i></p>

                <ul id="logged-in">

                </ul>
            </div>

<script type="module">
import { createClient } from '@supabase/supabase-js'
    const supabaseUrl = 'https://aaknwbobxxkwllnoaqxj.supabase.co'
const supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFha253Ym9ieHhrd2xsbm9hcXhqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTM2ODQwNDcsImV4cCI6MjAyOTI2MDA0N30.XslnKsAHqMpOW5V2kNd-l4U32szfJPzD1NXXCKtw6zs'

const supabase = createClient(supabaseUrl, supabaseKey)

var button = document.getElementById('clickButton');


async function onLogIn() {
    var emailInput = document.getElementById('email').value;
    var password = document.getElementById('pw').value;

    const { data, error } = await supabase
    .from('users')
    .select('*')
    .eq('email', emailInput)
    .eq('password', password)

    if (data.length > 0) {
        let logText = document.getElementById("logged-in");
        logText.innerHTML += `<li>Welcome, ${emailInput}!</li>`;
    }
}

button.addEventListener('click', function() {
    onLogIn();
});
</script>