---
title: Aviation Connect
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <header>
    <img class="banner-img" src="../images/banner.png"
      loading="lazy"
      alt="Background of a sky"/>
    <div class="banner">
      <img class="logo-header" src="../images/logo2.png"
        loading="lazy"
        alt="Aviation Connect logo"/>
    </div>
  </header>

  <nav>
    <ul class="right">
      <li id="menu-icon-li" class="menu-icon">
        <a id="menu-button">
          <img class="nav-img" src="../images/menu-bar.png"
            alt="Menu"
            loading="lazy" />
        </a>
      </li>
      <li><a href="index.html">Home</a></li>
      <li><a href="index.html">Aircraft</a></li>
      <li><a href="index.html">Media</a></li>
      <li><a href="/about">About</a></li>
            
    </ul>

    <ul id="menu-id" class="menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="index.html">Aircraft</a></li>
      <li><a href="index.html">Media</a></li>
      <li><a href="/about">About</a></li>
    </ul>

    <div class="left">
      <p><a href="login.html">Login</a></p>
    </div>
  </nav>

    {{ content }}


  <footer>
    <div class="foot-block">
      <p>&copy; 2024 John Landers</p>
      <p>All images and video content used in this website are created by myself, or used with expressed consent of the rightful owner.</p>
    </div>
  </footer>
</body>
</html>