body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.main-title {
    margin-left: 5%;
}

.main-block {
    margin-left: 5%;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
}

.col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.col h5 a {
    text-decoration: none;
    text-shadow: 1px 1px black;
    color: #3f3f3f;
}

.card {
    justify-content: center;
    margin: 0.5%;
}

.main-login {
    margin-left: 5%;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    flex-direction: column;
    align-items: center;
}

.main-article {
    margin-left: 5%;
    width: 90%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
}

.article-img {
    width: 100%;
}

.card:hover {
    width: 125%;
}
